.dentistContainer {
  width: 100%;
  text-align: center;
  transition: color 0.6s;
  margin-bottom: 100px;
  padding: 0 10px; 
  overflow-x: auto;
}

:global(.dark) .dentistContainer {
  color: #ffffff;
}

.h2 {
  margin: 40px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.th,
.td {
  border: 1px solid #cccccc;
  text-align: center;
  padding: 7px;
  flex: 1 0 100%;
}

.loadingMessage {
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: color 0.6s;
}

:global(.dark) .loadingMessage {
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .table {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tr {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 767px) {
  .dentistContainer {
    padding: 0 100px;
  }

  .loadingMessage {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    font-size: 32px;
  }
}
