.dentistContainer {
  width: 100%;
  text-align: center;
  transition: color 0.6s;
}

:global(.dark) .dentistContainer {
  color: #ffffff;
}

.h2 {
  margin-top: 20px;
  margin-bottom: 40px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.th,
.td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.tr:nth-child(even) {
  background-color: #dddddd;
}

#loadingMessage {
  text-align: center;
  transition: color 0.6s;
}

:global(.dark) #loadingMessage {
  color: #ffffff;
}
