.form {
  display: grid;
  place-items: center;
  gap: 30px;
  width: 400px;
  margin-top: 100px;
}

.label {
  font-size: 20px;
  color: #000000;
  transition: color 0.6s;
}

:global(.dark) .label {
  color: #ffffff;
}

.input {
  width: 70%;
  padding: 15px 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 17px;
}

.submitButton {
  padding: 13px 40px;
  cursor: pointer;
  color: #ffffff;
  background-color: #23262c;
  border: none;
  font-size: 17px;
  border-radius: 10px;
  transition: background-color 0.6s;
}

.submitButton:hover {
  background-color: #000000;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .form {
    width: 700px;
    margin: 0;
  }

  .input {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .form {
    width: 700px;
    margin: 0;
  }

  .input {
    width: 50%;
  }
}
