.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 500px;
  height: 100%;
  margin: auto;
}

.label {
  font-size: 20px;
  color: #000000;
}

:global(.dark) .label{
  color: #ffffff;
}

.input {
  width: 50%;
  padding: 15px 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 17px;
}

.submitButton {
  padding: 13px 40px;
  cursor: pointer;
  color: #ffffff;
  background-color: #23262c;
  border: none;
  font-size: 17px;
  border-radius: 10px;
  transition: background-color 0.6s;
}

.submitButton:hover {
  background-color: #000000;
}