.nav {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #23262c;
  padding: 20px 40px;
  transition: 0.6s;
}

.links {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: #ffffff;
  transition: 1s;
}

.link:hover {
  transform: scale(1.2);
}

.logo {
  width: 50px;
}
