.nav {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  align-items: center;
  padding: 20px 40px;
  transition: 0.6s;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
}

:global(body.dark) .nav {
  background-color: #23262c;
}

.links {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  position: relative;
  text-decoration: none;
  transition: 1s;
  color: #000000;
}

:global(.dark) .link {
  color: #ffffff;
}

.link:hover {
  transform: scale(1.2);
}

.logo {
  width: 50px;
}

.cantFavorite {
  width: 20px;
  position: absolute;
  top: -19px;
  right: -15px;
  background-color: #d9d9d9;
  border-radius: 50%;
  text-align: center;
  transition: 0.6s;
}

:global(.dark) .cantFavorite {
  background-color: #f5f5f5;
  color: #000000;
}